
body{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 40px;
    font-family: 'letters';
    color:white;
    text-shadow: 1px 1px 1px black;
}
@font-face{
    font-family: 'letters';
    src: url('../fonts/Letters\ for\ Learners.ttf');
}

@import './postcss.css'